<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.suhajin07.Master.MasterMapper">
	<resultMap type="com.cafe24.suhajin07.Master.Master" id="resultMaster">
		<result property="memberCode" column="memberCode" />
		<result property="memberId" column="memberId" />
		<result property="memberPw" column="memberPw" />
		<result property="memberName" column="memberName" />
		<result property="memberPhone" column="memberPhone" />
		<result property="memberEmail" column="memberEmail" />
		<result property="memberPostNum" column="memberPostNum" />
		<result property="memberAddress" column="memberAddress" />
		<result property="memberDetailAddress" column="memberDetailAddress" />
		<result property="memberGrade" column="memberGrade" />
		<result property="managerCode" column="managerCode" />
		<result property="managerName" column="managerName" />
		<result property="memberDate" column="memberDate" />
		<result property="gradeName" column="gradeName" />
		<result property="managerDepartment" column="managerDepartment" />
		<result property="managerGradeCode" column="managerGradeCode" />
		<result property="managerBasePay" column="managerBasePay" />
		<result property="bankCode" column="bankCode" />
		<result property="bankName" column="bankName" />
		<result property="bankNum" column="bankNum" />
	</resultMap>
	<resultMap type="com.cafe24.suhajin07.Master.Goal" id="resultGoalMaster">
		<result property="biggestGoalCode" column="biggestGoalCode" />
		<result property="biggestGoalName" column="biggestGoalName" />
		<result property="finalGoalCode" column="finalGoalCode" />
		<result property="memberCode" column="memberCode" />
		<result property="managerCode" column="managerCode" />
		<result property="managerGradeCode" column="managerGradeCode" />
		<result property="finalGoalName" column="finalGoalName" />
		<result property="finalGoalStart" column="finalGoalStart" />
		<result property="finalGoalEnd" column="finalGoalEnd" />
		<result property="finalGoalDays" column="finalGoalDays" />
		<result property="finalGoalTimeADay" column="finalGoalTimeADay" />
		<result property="finalGoalTotalTime" column="finalGoalTotalTime" />
		<result property="finalGoalTotalBudget" column="finalGoalTotalBudget" />
		<result property="finalGoalNote" column="finalGoalNote" />
		<result property="finalGoalInputDate" column="finalGoalInputDate" />
		<result property="managerName" column="managerName" />
		<result property="memberName" column="memberName" />
		<result property="midGoalCode" column="midGoalCode" />
		<result property="lisenceListCode" column="lisenceListCode" />
		<result property="studyCode" column="studyCode" />
		<result property="goalTotalCode" column="goalTotalCode" />
		<result property="gradeName" column="gradeName" />
		<result property="midGoalId" column="midGoalId" />
		<result property="lisenceName" column="lisenceName" />
		<result property="studyMethod" column="studyMethod" />
		<result property="midGoalName" column="midGoalName" />
		<result property="midGoalPlan" column="midGoalPlan" />
		<result property="midGoalStart" column="midGoalStart" />
		<result property="midGoalEnd" column="midGoalEnd" />
		<result property="midGoalBudget" column="midGoalBudget" />
		<result property="detailGoalCode" column="detailGoalCode" />
		<result property="detailGoalList" column="detailGoalList" />
		<result property="detailGoalDate" column="detailGoalDate" />
		<result property="detailGoalStart" column="detailGoalStart" />
		<result property="detailGoalEnd" column="detailGoalEnd" />
		<result property="detailGoalBudget" column="detailGoalBudget" />
		<result property="detailGoalTotal" column="detailGoalTotal" />
		<result property="detailGoalExplain" column="detailGoalExplain" />	
	</resultMap>

	<select id="memberAllList" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		memberCode,memberId,memberName,memberPhone,memberEmail,memberPostNum,
		memberAddress,memberDetailAddress,memberDate
		from member where
		memberGrade =
		'member' order by memberCode
	</select>
	<select id="managerAllList" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		member.memberCode,managerCode,gradeName,memberName,memberPhone,memberEmail,memberPostNum,
		memberAddress,memberDetailAddress,managerDepartment,memberDate
		from
		member join
		manager join
		managerGrade
		on member.memberId=manager.memberId
		and
		manager.managerGradeCode=managerGrade.managerGradeCode
		where
		memberGrade =
		'manager' order by manager.managerGradeCode
	</select>
	<select id="managerGradeList_1" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		manager.memberId,manager.managerCode,
		managerGrade.gradeName,member.memberName,member.memberPhone,
		member.memberEmail,manager.managerDepartment,salary.bankNum,bank.bankName
		from
		member join
		manager join managerGrade join salary join bank
		on
		member.memberCode=manager.memberCode and
		manager.managerGradeCode=managerGrade.managerGradeCode
		and
		manager.managerCode=salary.managerCode and
		salary.bankCode =
		bank.bankCode
		where gradeName
		=
		'총괄매니저' order by memberId
	</select>
	<select id="managerGradeList_2" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		manager.memberId,manager.managerCode,
		managerGrade.gradeName,member.memberName,member.memberPhone,
		member.memberEmail,manager.managerDepartment,salary.bankNum,bank.bankName
		from
		member join
		manager join managerGrade join salary join bank
		on
		member.memberCode=manager.memberCode and
		manager.managerGradeCode=managerGrade.managerGradeCode
		and
		manager.managerCode=salary.managerCode and
		salary.bankCode =
		bank.bankCode
		where gradeName
		=
		'담당 실장' order by memberId
	</select>
	<select id="managerGradeList_3" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		manager.memberId,manager.managerCode,
		managerGrade.gradeName,member.memberName,member.memberPhone,
		member.memberEmail,manager.managerDepartment,salary.bankNum,bank.bankName
		from
		member join
		manager join managerGrade join salary join bank
		on
		member.memberCode=manager.memberCode and
		manager.managerGradeCode=managerGrade.managerGradeCode
		and
		manager.managerCode=salary.managerCode and
		salary.bankCode =
		bank.bankCode
		where gradeName
		=
		'담당 부실장' order by memberId
	</select>
	<select id="managerGradeList_4" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		manager.memberId,manager.managerCode,
		managerGrade.gradeName,member.memberName,member.memberPhone,
		member.memberEmail,manager.managerDepartment,salary.bankNum,bank.bankName
		from
		member join
		manager join managerGrade join salary join bank
		on
		member.memberCode=manager.memberCode and
		manager.managerGradeCode=managerGrade.managerGradeCode
		and
		manager.managerCode=salary.managerCode and
		salary.bankCode =
		bank.bankCode
		where gradeName
		=
		'담당 매니저' order by memberId
	</select>
	<select id="managerGradeList_5" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT
		manager.memberId,manager.managerCode,
		managerGrade.gradeName,member.memberName,member.memberPhone,
		member.memberEmail,manager.managerDepartment,salary.bankNum,bank.bankName
		from
		member join
		manager join managerGrade join salary join bank
		on
		member.memberCode=manager.memberCode and
		manager.managerGradeCode=managerGrade.managerGradeCode
		and
		manager.managerCode=salary.managerCode and
		salary.bankCode =
		bank.bankCode
		where gradeName
		=
		'수습 매니저' order by memberId
	</select>
	<insert id="insertManager" parameterType="com.cafe24.suhajin07.Master.Master">
		INSERT INTO
		member(memberCode ,memberId ,memberPw ,memberName
		,memberPhone,memberEmail ,memberPostNum, memberDetailAddress,
		memberAddress ,memberGrade ,memberDate)
		VALUES
		(#{memberCode},
		#{memberId}, #{memberPw}, #{memberName}, #{memberPhone},
		#{memberEmail}, #{memberPostNum}, #{memberDetailAddress},
		#{memberAddress}, #{memberGrade} ,now())
	</insert>
	<insert id="insertManagerGrade" parameterType="com.cafe24.suhajin07.Master.Master">
		<selectKey resultType="hashmap" keyProperty="memberCode,memberName"
			order="BEFORE">
			select memberCode,memberName from member order by memberCode
			DESC limit 1
		</selectKey>
		INSERT INTO
		manager(managerCode,memberCode,memberId,managerGradeCode,managerName,managerDepartment)
		VALUES
		(#{managerCode}, #{memberCode}, #{memberId},
		#{managerGradeCode}, #{memberName},
		#{managerDepartment})
	</insert>

	<select id="managerselectOne" parameterType="com.cafe24.suhajin07.Master.Master"
		resultMap="resultMaster">
		SELECT * from manager
		where managerCode = #{managerCode}
	</select>

	<update id="managerGradeupdate" parameterType="com.cafe24.suhajin07.Master.Master">
		UPDATE manager set
		memberCode = #{memberCode},
		memberId = #{memberId},
		managerGradeCode =
		#{managerGradeCode},
		managerName = #{managerName},
		managerDepartment =
		#{managerDepartment}
		where
		managerCode = #{managerCode}
	</update>

	<delete id="ManagerDelete">
		delete member,manager
		from member left join manager on
		member.memberCode=manager.memberCode
		where member.memberCode =
		#{memberCode}

	</delete>


	<select id="memberFinalGoalList" parameterType="com.cafe24.suhajin07.Master.Goal"
		resultMap="resultGoalMaster">
		SELECT
		a.memberName,b.managerName,c.finalGoalCode,c.finalGoalName,
		c.finalGoalStart,c.finalGoalEnd,c.finalGoalDays,c.finalGoalTimeADay,
		c.finalGoalTotalTime,c.finalGoalTotalBudget,c.finalGoalNote,
		d.biggestGoalName
		from member a join manager b join finalGoal c join
		biggestGoal d on
		a.memberCode=c.memberCode and
		b.managerCode=c.managerCode and
		c.biggestGoalCode=d.biggestGoalCode
		order by b.managerCode
	</select>

	<select id="memberMidGoalList" parameterType="com.cafe24.suhajin07.Master.Goal"
		resultMap="resultGoalMaster">
		SELECT a.midGoalCode, c.memberName, b.managerName,
		d.gradeName,e.biggestGoalName,g.midGoalId, h.lisenceName
		,f.studyMethod, a.midGoalName, a.midGoalPlan,
		a.midGoalStart,
		a.midGoalEnd, a.midGoalBudget
		from midGoal a
		left join lisenceList h on
		(a.lisenceListCode=h.lisenceListCode)
		left join manager b
		on(a.managerCode=b.managerCode)
		left join member c
		on(a.memberCode=c.memberCode)
		left join managerGrade d
		on(a.managerGradeCode=d.managerGradeCode)
		left join biggestGoal e
		on(a.biggestGoalCode=e.biggestGoalCode)
		left join study f
		on(a.studyCode=f.studyCode)
		left join goal g
		on(a.goalTotalCode=g.goalTotalCode)
		order by a.memberCode
	</select>
	<select id="memberDetailList" parameterType="com.cafe24.suhajin07.Master.Goal"
		resultMap="resultGoalMaster">
		SELECT a.detailGoalCode, a.detailGoalList, a.detailGoalDate,
		a.detailGoalStart, a.detailGoalEnd,
		a.detailGoalTotal,
		a.detailGoalBudget, a.detailGoalExplain, b.memberName, c.midGoalName,
		d.managerName
		from detailGoal a
		left join member b on
		(a.memberCode=b.memberCode)
		left join midGoal c
		on(a.midGoalCode=c.midGoalCode)
		left join manager d
		on(a.managerCode=d.managerCode)
		order by a.memberCode and
		a.detailGoalCode
	</select>


</mapper>