<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.suhajin07.Training.TrainingMapper">
	<resultMap type="com.cafe24.suhajin07.Member.Member" id="resultMember">
		<result property="memberID" column="memberID" />
		<result property="memberName" column="memberName" />
	</resultMap>
	<resultMap type="com.cafe24.suhajin07.Training.Training" id="resultTraining">
		<result property="trainingCode" column="trainingCode" />
		<result property="memberCode" column="memberCode" />
		<result property="trainingPeriod" column="trainingPeriod" />
		<result property="trainingStart" column="trainingStart" />
		<result property="trainingEnd" column="trainingEnd" />
		<result property="trainingNation" column="trainingNation" />
		<result property="trainingDetail" column="trainingDetail" />
		<result property="trainingDate" column="trainingDate" />
	</resultMap>
	<insert id="insertTraining" parameterType="com.cafe24.suhajin07.Training.Training">
		INSERT INTO
		training(
		memberCode,
		trainingPeriod,
		trainingStart,
		trainingEnd,
		trainingNation,
		trainingDetail,
		trainingDate) VALUES (
		#{memberCode},
		#{trainingPeriod},
		#{trainingStart},
		#{trainingEnd},
		#{trainingNation},
		#{trainingDetail},
		now())
	</insert>
	<select id="TrainingList" parameterType="com.cafe24.suhajin07.Training.Training"
		resultMap="resultTraining">
		SELECT memberId, memberName, trainingPeriod, trainingStart,
		trainingEnd, trainingNation, trainingDetail, trainingDate
		from training
		join member
		on
		training.memberCode = member.memberCode
	</select>

	<select id="TrainingListOne" parameterType="com.cafe24.suhajin07.Training.Training"
		resultMap="resultTraining">
		SELECT memberId, memberName,trainingCode,
		trainingNation,trainingStart,trainingEnd,trainingPeriod,trainingDetail
		from training join member
		on
		training.memberCode = member.memberCode
		where memberId = #{memberId}

	</select>

</mapper>