<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.suhajin07.Member.MemberMapper">

	<resultMap type="com.cafe24.suhajin07.Member.Member" id="resultMember">	
		<result property="memberCode" column="memberCode"/>	
		<result property="memberId" column="memberId"/>	
		<result property="memberPw" column="memberPw"/>	
		<result property="memberName" column="memberName"/>	
		<result property="memberPhone" column="memberPhone"/>	
		<result property="memberEmail" column="memberEmail"/>
		<result property="memberPostNum" column="memberPostNum"/>
		<result property="memberAddress" column="memberAddress"/>
		<result property="memberDetailAddress" column="memberDetailAddress"/>	
		<result property="memberGrade" column="memberGrade"/>	
		<result property="memberDate" column="memberDate"/>	
	</resultMap>

	<insert id="insertMember" parameterType="com.cafe24.suhajin07.Member.Member"> 
		INSERT INTO 
			member(memberCode ,memberId ,memberPw ,memberName ,memberPhone ,memberEmail ,memberPostNum ,memberAddress ,memberDetailAddress ,memberGrade ,memberDate) 
		VALUES 
			(#{memberCode}, #{memberId}, #{memberPw}, #{memberName}, #{memberPhone}, #{memberEmail}, #{memberPostNum}, #{memberAddress}, #{memberDetailAddress}, #{memberGrade} ,now()) 
	</insert>

	<select id="login" parameterType="com.cafe24.suhajin07.Member.Member" resultMap="resultMember"> 
		SELECT 
			memberCode ,memberId ,memberPw ,memberName ,memberPhone ,memberEmail ,memberDetailAddress ,memberGrade
		FROM 
			member 
		WHERE 
			memberId=#{memberId}AND memberPw=#{memberPw} 
	</select>

</mapper>