<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.cafe24.suhajin07.DetailGoal.DetailGoalMapper">
		<resultMap id="resultDetailGoal" type="com.cafe24.suhajin07.DetailGoal.DetailGoal">
			<result column="detailGoalCode" property="detailGoalCode"/>
			<result column="midGoalCode" property="midGoalCode"/>
			<result column="memberCode" property="memberCode"/>
			<result column="biggestGoalCode" property="biggestGoalCode"/>
			<result column="goalTotalCode" property="goalTotalCode"/>
			<result column="managerCode" property="managerCode"/>
			<result column="studyCode" property="studyCode"/>
			<result column="managerGradeCode" property="managerGradeCode"/>
			<result column="lisenceListCode" property="lisenceListCode"/>
			<result column="detailGoalDate" property="detailGoalDate"/>
			<result column="detailGoalStart" property="detailGoalStart"/>
			<result column="detailGoalEnd" property="detailGoalEnd"/>
			<result column="detailGoalTotal" property="detailGoalTotal"/>
			<result column="detailGoalList" property="detailGoalList"/>
			<result column="detailGoalBudget" property="detailGoalBudget"/>
			<result column="detailGoalExplain" property="detailGoalExplain"/>
			<result column="detailCheckDate" property="detailCheckDate"/>
		</resultMap>

	<insert id="insertDetailGoal" parameterType="com.cafe24.suhajin07.DetailGoal.DetailGoal"> 
		INSERT INTO detailGoal ( 
			detailGoalCode 
			,midGoalCode 
			,memberCode 
			,biggestGoalCode 
			,goalTotalCode 
			,managerCode 
			,studyCode 
			,managerGradeCode 
			,lisenceListCode 
			,detailGoalDate 
			,detailGoalStart 
			,detailGoalEnd 
			,detailGoalTotal 
			,detailGoalList 
			,detailGoalBudget 
			,detailGoalExplain 
			,detailCheckDate 
			)VALUE(
			 #{detailGoalCode} 
			 ,#{midGoalCode} 
			 ,#{memberCode} 
			 ,#{biggestGoalCode} 
			 ,#{goalTotalCode} 
			 ,#{managerCode} 
			 ,#{studyCode} 
			 ,#{managerGradeCode} 
			 ,#{lisenceListCode} 
			 ,#{detailGoalDate} 
			 ,#{detailGoalStart} 
			 ,#{detailGoalEnd} 
			 ,#{detailGoalTotal} 
			 ,#{detailGoalList} 
			 ,#{detailGoalBudget} 
			 ,#{detailGoalExplain} 
			 , now()) 
	</insert>

	<select id="selectDetailGoalList" parameterType="com.cafe24.suhajin07.DetailGoal.DetailGoal" resultMap="resultDetailGoal">
		SELECT detailGoalCode 
			,detailGoalList 
			,detailGoalDate 
			,detailGoalStart 
			,detailGoalEnd 
			,detailGoalTotal 
			,detailGoalBudget 
			,detailGoalExplain 
		from detailGoal join member 
		on detailGoal.memberCode = member.memberCode 
		where memberId=#{memberId} 
	</select>
	
	<select id="selectDetailGoalUpdate" resultType="com.cafe24.suhajin07.DetailGoal.DetailGoal">
		SELECT detailGoalCode
				,detailGoalList
				,detailGoalDate
				,detailGoalStart
				,detailGoalEnd
				,detailGoalTotal
				,detailGoalBudget
				,detailGoalExplain
		from detailGoal		
		WHERE detailGoalCode=#{detailGoalCode}
	</select> 

</mapper>