<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.suhajin07.MidGoal.MidGoalMapper">


	<resultMap type="com.cafe24.suhajin07.MidGoal.MidGoal" id="resultMidGoal">

		<result property="midGoalCode" column="midGoalCode"/>
		<result property="finalGoalCode" column="finalGoalCode"/>
		<result property="biggestGoalCode" column="biggestGoalCode"/>
		<result property="goalTotalCode" column="goalTotalCode"/>
		<result property="memberCode" column="memberCode"/>
		<result property="managerCode" column="managerCode"/>
		<result property="managerGradeCode" column="managerGradeCode"/>
		<result property="midGoalName" column="midGoalName"/>
		<result property="studyCode" column="studyCode"/>
		<result property="lisenceListCode" column="lisenceListCode"/>
		<result property="midGoalPlan" column="midGoalPlan"/>
		<result property="midGoalStart" column="midGoalStart"/>
		<result property="midGoalEnd" column="midGoalEnd"/>
		<result property="midGoalBudget" column="midGoalBudget"/>
		<result property="midGoalDate" column="midGoalDate"/>
	</resultMap>

	<insert id="insertMidGoal" parameterType="com.cafe24.suhajin07.MidGoal.MidGoal"> 
		INSERT INTO midGoal ( 
			midGoalCode 
			, finalGoalCode 
			, biggestGoalCode 
			, goalTotalCode 
			, memberCode 
			, managerCode 
			, managerGradeCode 
			, midGoalName 
			, studyCode 
			, lisenceListCode 
			, midGoalPlan 
			, midGoalStart 
			, midGoalEnd 
			, midGoalBudget 
			, midGoalDate 
		)VALUE( 
			#{midGoalCode}
			, #{finalGoalCode}
			, #{biggestGoalCode}
			, #{goalTotalCode}
			, #{memberCode}
			, #{managerCode}
			, #{managerGradeCode}
			, #{midGoalName}
			, #{studyCode}
			, #{lisenceListCode}
			, #{midGoalPlan}
			, #{midGoalStart}
			, #{midGoalEnd}
			, #{midGoalBudget}
			, now()) 
	</insert>

	<select id="selectMidGoalList" parameterType="com.cafe24.suhajin07.MidGoal.MidGoal" resultMap="resultMidGoal"> 
		select midGoalName 
			,studyMethod 
			,midGoalPlan 
			,midGoalStart 
			,midGoalEnd 
			,midGoalBudget 
			,midGoalDate 
		from midGoal join member join study 
		on midGoal.memberCode = member.memberCode
		and study.studyCode = midGoal.studyCode 
		where memberId=#{memberId} 
	</select>
	
	<select id="selectMidGoalUpdate" parameterType="com.cafe24.suhajin07.MidGoal.MidGoal" resultMap="resultMidGoal"> 
		select midGoalCode 
			,midGoalName
			,lisenceListCode
			,midGoalPlan 
			,midGoalStart 
			,midGoalEnd 
			,midGoalBudget
		from midGoal 
		where midGoalName=#{midGoalName} 
	</select>
	
	<update id="MidGoalUpdate" parameterType="com.cafe24.suhajin07.MidGoal.MidGoal">
		UPDATE midGoal set
		  midGoalName = #{midGoalName},
		  studyCode = #{studyCode},
		  lisenceListCode = #{lisenceListCode},
		  midGoalPlan = #{midGoalPlan},
		  midGoalStart = #{midGoalStart},
		  midGoalEnd = #{midGoalEnd},
		  midGoalBudget = #{midGoalBudget},
		  midGoalDate = now()
		where
			midGoalCode = #{midGoalCode}
	</update>
	
	<delete id="delectMidGoal">
		DELETE from midGoal where midGoalName=#{midGoalName} 
	</delete>

</mapper>