<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.suhajin07.Mapper.MemberMapper">
<resultMap id="resultMember" type="com.cafe24.suhajin07.Dto.Member">
<result column="memberCode" property="memberCode"/>
<result column="memberId" property="memberId"/>
<result column="memberPw" property="memberPw"/>
<result column="memberName" property="memberName"/>
<result column="memberPhone" property="memberPhone"/>
<result column="memberEmail" property="memberEmail"/>
<result column="memberAddress" property="memberAddress"/>
<result column="memberDate" property="memberDate"/>
</resultMap>

	<insert id="insertMember" parameterType="com.cafe24.suhajin07.Dto.Member">
		INSERT INTO member( memberCode ,memberId ,memberPw, memberName, memberPhone,
		memberEmail, memberAddress, memberDate)
		VALUES ( #{memberCode} ,#{memberId} ,#{memberPw} ,#{memberName}
		,#{memberPhone} ,#{memberEmail} ,#{memberAddress} ,now())
	</insert>
	
	<insert id="insertMemberCode" parameterType="com.cafe24.suhajin07.Dto.Member">
	select max(CAST(substring(memberCode,4) AS DECIMAL))  from member
	</insert>
</mapper>