<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.suhajin07.Career.CareerMapper">

	<insert id="insertCareer" parameterType="com.cafe24.suhajin07.Career.Career">

		INSERT INTO
			career(memberCode ,careerName ,careerAddress ,careerEntrance ,careerQuit 
					,careerWorking ,careerPeriod ,careerPosition,careerApproval,careerDate)
		VALUES
			(#{memberCode}, #{careerName}, #{careerAddress}, #{careerEntrance}, #{careerQuit},
			#{careerWorking}, #{careerPeriod}, #{careerPosition},
			#{careerApproval}, now())
	</insert>	

</mapper>